body{
    background: white;
}

.container{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    
    
    
}
.time{
    display: flex;
    
    
    
}
.time div{
    flex-basis: 100px;
    color: Red;
    font-size: 80px;
    
}

.time span{
    color: red;
    font-size: 20px;
    margin: 0;
    margin-left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.time div p{
    margin: 0;
    margin-bottom: -40px;
    text-align: center;
}

 .heading{
    font-size: 40px;
    color: blue;
   
    
  


}  

  
  